#
# .gitignore
#



################
# IntelliJ
################
.idea/
*.iws
*.iml
/out/



################
# mvn
################
target/**
.mvn



################
# MAC
################
.DS_Store



################
# vi
################
*~



################
# Eclipse
################
.classpath
.project
.settings/

